#info{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2rem;
    margin-top: 3rem;
}
#l_recommendation{
    margin-top: 2rem;
    font-weight: bold;
    font-size: large;
}
table, th, td {
    margin-top: 2rem;
    border:1px solid black;
  }